* {
  margin: 0px;
  padding: 0px;
}
.app {
  display: flex;
  flex-direction: column;
}
.app_body {
  display: flex;
  flex-direction: row;
}

.app_header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 15px;
  font-size: large;
  background-color: cornflowerblue;
}
