.map {
  height: 700px;
  background-color: white;
  padding: 0.7rem;
  margin-left: 5px;
  border-radius: 13px;
  margin-top: 16px;
  box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.6);
}

.map .leaflet-container {
  height: 100%;
}
.info-name {
  font-size: 20px;
  font-weight: bold;
  color: #555;
}
.info-confirmed,
.info-recovered,
.info-deaths,
.info-active {
  font-size: 15px;
  margin-top: 5px;
}
.map--darkMode {
  background-color: #1f1f1f;
}
.popupdarkMode {
  background-color: black !important;
  color: white !important;
}
@media (max-width: 770px) {
  .map {
    height: 500px;
  }
}
